[submodule "proto/api"]
	path = proto/api
	url = /home/dnr/t/api
	branch = sched1
[submodule "develop/docker-compose/grafana/provisioning/temporalio-dashboards"]
	path = develop/docker-compose/grafana/provisioning/temporalio-dashboards
	url = https://github.com/temporalio/dashboards
